/* global */
@import url('https://fonts.googleapis.com/css?family=Roboto');

body{
    margin: 0;
    font-family: 'Roboto', sans-serif; 
    }
/* .particles1{
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    z-index: -1;
} */

.body{
    background-color: #191d1f;
    color: #fff;
    padding: 10px;

}
.body2{
    margin: 0 auto;
    max-width: 1200px;
}
.footer{
    background-color: #000;
    color: #fff;

}